In [ ]:
import pandas as pd
import math
import numpy as np

In [2]:
BASE_FOLDER = 'training-datasets/'
filename = 'scw_01_23_da.csv'

data_df = pd.read_csv(filename,sep=",",encoding="latin1").fillna(method='ffill')   
data_df

             ï»¿Sentence           Word  POS     Tag
0          Sentence: 1_1            for   IN       O
1          Sentence: 1_1        example   NN       O
2          Sentence: 1_1              d  NNP       O
3          Sentence: 1_1            usr  NNP       O
4          Sentence: 1_1            sap  NNP  B-PROD
...                  ...            ...  ...     ...
187123  Sentence: 23_261         policy   NN       O
187124  Sentence: 23_261             in   IN       O
187125  Sentence: 23_261     individual   JJ       O
187126  Sentence: 23_261           hana  NNP  B-PROD
187127  Sentence: 23_261  installations  NNS       O

[187128 rows x 4 columns]

In [3]:
data = data_df.values.tolist()
data[:5]

[['Sentence: 1_1', 'for', 'IN', 'O'],
 ['Sentence: 1_1', 'example', 'NN', 'O'],
 ['Sentence: 1_1', 'd', 'NNP', 'O'],
 ['Sentence: 1_1', 'usr', 'NNP', 'O'],
 ['Sentence: 1_1', 'sap', 'NNP', 'B-PROD']]

In [ ]:
data2 = []
sentence = [] 
sent_prev_row = '24_1'  # this is the first sentence in the file
any_b_annot = ''

for i in data:
    if i[0] != sent_prev_row:
        if any_b_annot == 'yes':
            data2.append(sentence)
        
        sent_prev_row = i[0]  
        sentence = []
        if i[3] == 'B-PROD'or i[3] == 'I-PROD':
            any_b_annot = 'yes'
        sentence.append(i)
        
    else:
        if i[3] == 'B-PROD'or i[3] == 'I-PROD':
            any_b_annot = 'yes'
        sentence.append(i)
        
if any_b_annot == 'yes':
    data2.append(sentence)

data_final = []

for sent in data2:
    for tkn in sent:
        data_final.append(tkn)
    
data_final

In [5]:
# SAVE TO .CSV

# a) converto list to df:
data_final_df = pd.DataFrame(data_final)

# b) Save to file:
file_path_to_s = 'scw_sup_annot_1-23_v3.csv'
data_final_df.to_csv(file_path_to_s, sep=',',index=False)